[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coreapi = "*"  # Required by REST Framework to generate OpenAPI 3.0 schema
django = "~=4.2"  # We use the most recent LTR version.
djangorestframework = "*"
django-environ = "*"
django-oauth-toolkit = "*"
oauthlib = "*"
requests = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
